
.list-item-main-description {
    text-align: left;
    padding-bottom: .3rem;
    border-bottom: 0.1rem solid black;
}

.list-items-add-section form {
    display: flex;
}

.list-items-add-section div {
    font-size: .7rem;
    vertical-align: baseline;
}

.list-item-add-title {
    position: relative;
    font-size: 1rem;
    font-weight: 200;
    margin: 0;
    padding: 0;
    bottom: .5rem;
}

.show-completed-heading {
    display: inline-block;
    font-size: .9rem;
    font-weight: 200;
    margin-right: .5rem;
}

.show-completed {
    font-size: .9rem;
    border: .05rem solid black;
}

.show-completed.yes {
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.show-completed.no {
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    border-left: none;
}

.list-item-add-labels {
    font-size: .9rem;
    font-weight: 200rem;
    margin: 0;
    padding: 0;
}

.list-show-on-open-label {
    margin-left: 32rem;
    font-size: .7rem;
}

input {
    font-size: 1rem;
}

.list-item input,
.list-item select {
    border: none;
    border-left: .05rem solid black;
    margin: 0;
    padding: .4rem;
}

input.list-item-desc-input {
    font-size: 1rem;
    border: none;
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
    width: 35rem;
}

select {
    font-size: 1rem;
}

.list-item {
    border: .05 solid  rgb(148, 210, 255);
    background-color: rgb(222, 239, 252);
    border-radius: .5rem;
    /* background-color:  rgb(148, 210, 255); */
    margin: 0;
    padding: 0;
    width: fit-content;
    /* margin-right: -4rem; */

}
#list-items-top {
    margin: 0;    
}
#list-item {
    margin: 0;
}
.item-bar {

    background-color: rgb(148, 210, 255);

}

#list-item-complete-checkbox {
    border: .15rem solid black;
    height: 1.1rem;
    width: 1rem;
    margin-right: .7rem;
}
.list-item-complete {
    background-color:rgb(119, 118, 118);
    width: 1rem;
}

.list-item-delete-button {
    display: inline-block;
    position: relative;
    font-size: 1.3rem;
    top: .17rem;
}

#list-item-drag-bar {
    position: relative;
    font-size: 1.4rem;
    top: .12em;
}

.list-item input {
    background-color: rgb(148, 210, 255);
}

.list-item select {
    background-color: rgb(148, 210, 255);
    outline: none;
}

.list-item.checked-off input,
.list-item.checked-off select {
    /* background-color: blue; */
}

#list-items-add-label-timeofday,
#list-items-add-label-weathertype {
    transform: translateY(-5px);
}

.list-item-add-label.preferred-time {

   padding-bottom: 7rem;
}

.list-items-add-input-desc {
    min-width: 30rem;
}

.list-item-add-input-priority {
    width: 2rem;
}

.list-item-bar.checked-off {
    /* background-color: rgb(164, 195, 217);; */
}

.list-item-desc-label {
    margin-left: 2rem;
}
.list-item-priority-label {
    margin-left: 31.3rem;
}

.list-item-weather-label {
    margin-left: 1.3rem;
}

.list-item-timeofday-label {
    margin-left: 1.5rem;
}

.list-item-duedate-label {
    margin-left: 3.5rem;
}

#list-items-top {
    padding: 0;
    margin: 0;
}
#list-item {
    padding: 0;
    margin: 0;
}