
.list-item-main-description {
    text-align: left;
    padding-bottom: .3rem;
    border-bottom: 0.1rem solid black;
}

.list-items-add-section form {
    display: flex;
}

.list-items-add-section div {
    font-size: .7rem;
    vertical-align: baseline;
}

.list-item-add-title {
    font-size: 1rem;
    font-weight: 200;
    margin: 0;
    padding: 0;
}
.show-completed-heading {
    display: inline-block;
    font-size: .9rem;
    font-weight: 200;
    margin-right: .5rem;
}

.show-completed {
    font-size: .9rem;
    border: .1rem solid black;
}

.show-completed.yes {
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.show-completed.no {
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    border-left: none;
}

.list-item-add-labels {
    font-size: .9rem;
    font-weight: 200rem;
    margin: 0;
    padding: 0;
}
/* 
list-item-location-section
list-item-options-section
list-items-add-section {
}
Form
List-item-forecast-section
list-items-add-input-desc
list-items-add-input-priority
list-items-add-input-weathertype
list-items-add-input-timeofday
list-items-add-input-duedate
list-items-add-submit-button */
input {
    font-size: 1rem;
}

.list-item input,
.list-item select {
    border: none;
    border-left: .1rem solid black;
    margin: 0;
    padding: .4rem;
}

input.list-item-desc-input {
    font-size: 1rem;
    border: none;
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
    width: 35rem;
}

select {
    font-size: 1rem;
}

.list-item {
    border: .1 solid  rgb(148, 210, 255);
    border-radius: .5rem;
    /* background-color:  rgb(148, 210, 255); */
    margin: .5rem 0;
    padding: 0;
    width: fit-content;
    /* margin-right: -4rem; */

}
#list-items-top {
    margin: 0;    
}
#list-item {
    margin: 0;
}
.item-bar {
    background-color: rgb(148, 210, 255);

}
/* .list-item-completed {
    border: none;
    outline: none;
    font-size: 1.2rem;
} */
#list-item-complete-checkbox {
    border: .2rem solid black;
    height: 1.1rem;
    width: 1rem;
    margin-right: .7rem;
}
.list-item-complete {
    background-color:rgb(119, 118, 118);
    width: 1rem;
}

input.list-item-desc-editable {
    /* border: .1rem solid black; */
}

.list-item-delete-button {
    display: inline-block;
    position: relative;
    font-size: 1.3rem;
    top: .17rem;
}

#list-item-drag-bar {
    position: relative;
    font-size: 1.4rem;
    top: .12em;
}

.list-item input {
    background-color: rgb(148, 210, 255);
}

#list-items-add-label-timeofday,
#list-items-add-label-weathertype {
    transform: translateY(-5px);
}

.list-item-add-label.preferred-time {
    
   padding-bottom: 7rem;
}
/* .list-items-add-input-timeofday,
.list-items-add-input-weathertype {
    transform: translateY(-5px);
    font-size: 1rem;
}

.list-item-add-label.preferred-weather {
    transform: translateY(-10px);
} */
/* 


list-item-select-timeofday
list-item-weathertype
list-item-priority
List-item-desc-input   && list-item-desc-editable
List-item-bar
List-item
#list-item
 */
