.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  background-color: var(--primary-darker);
  overflow: hidden;
  border: .01rem solid var(--border);
  padding-left: 5%;
}

.nav a {
  text-decoration: none;
}

.navLink {
  display: inline-block;
  background-color: var(--primary-darker);
  text-align: center;
  padding: 1rem 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: var(--primary-darkest);
}
