
.list-img-box {

    display: block;
    border: .05rem solid black;
    border-radius: .5rem;
    background-image: url('../../../../../public/images/IMG_7709_messy_lists.JPG');
    width: 60%;
    /* height: auto; */
    margin: 0;
}

.about-title,
.about-text {
    text-align: left;
    margin: 1rem;
    width: 60%;
}

.about-page {
    margin-left: 5%;
}

.about-ending {
    margin-bottom: 30rem;
}

.about-last-qs {
    margin-left: 5%;
}

.about-last-qs span {
    margin-right: 1rem;
}